/* Stiziles */

html, body {
  background: #F3F3ED;
  font-family: 'Open Sans', sans-serif;
}

/* main */

.gb-header {
  text-align: center;
  font-weight: 700;
}

.gb-main {
  max-width: 910px;
  height: 100%;
  background: #fff;
  color: #5B5B46;
  margin: 0 auto;
}

.gb-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gb-main li {
  padding: 10px;
  border-bottom:  1px solid #F3F3ED;
  margin: 8px 20px;
}

.gb-name {
  font-weight: 700;
}

.gb-update {
  margin-left: 15px;
}

.gb-counts {
  float: right;
}
.gb-counts .fa {
  margin: 0 8px;
}